@import "../../web/src/index.css";

@source "./**/*.{ts,tsx}";
@source "../web/src/**/*.{ts,tsx}";

html,
body,
#root {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
}

#root {
  min-height: 100dvh;
}
