---
import { APP_NAME, MARKETING_ASSETS } from "../constants/app";
import "./LayoutHeader.css";
---

<header class="nav-shell">
  <nav class="nav">
    <a href="/" class="nav-brand">
      <img src={MARKETING_ASSETS.navLogoPath} alt={APP_NAME} class="nav-icon" />
    </a>
    <a href="/changelog" class="nav-link">changelog</a>
  </nav>
</header>
