---
import "../styles/tailwind.css";
import "./LayoutBase.css";
import LayoutFooter from "./LayoutFooter.astro";
import LayoutHeader from "./LayoutHeader.astro";
import LayoutMetaTags from "./LayoutMetaTags.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  imageAlt?: string;
  noindex?: boolean;
  type?: "website";
}
---

<html lang="en">
  <head>
    <LayoutMetaTags {...Astro.props} />
  </head>
  <body>
    <div class="page">
      <LayoutHeader />

      <main class="main">
        <slot />
      </main>

      <LayoutFooter />
    </div>
  </body>
</html>
