---
import { INSTALL_COMMANDS } from "../../constants/downloads";
import CopyCommandButton from "./CopyCommandButton.astro";
import "./MacUnsignedInstallNote.css";
---

<aside class="mac-unsigned-note">
  <div class="mac-unsigned-note__header">
    <p class="mac-unsigned-note__eyebrow">Alternative install</p>
    <p>Use curl for a quick terminal-based install.</p>
  </div>
  <div class="mac-unsigned-note__commands">
    <CopyCommandButton
      class="mac-unsigned-note__copy-command"
      command={INSTALL_COMMANDS.unix}
      label="Install via Terminal"
      description="One-liner for macOS and Linux."
      ariaLabel="Copy macOS install command"
    />
  </div>
</aside>
